@font-face {
    font-family: 'RobotoMono';
    src: url('./fonts/RobotoMono-Bold.ttf');
}

* {
    font-family: 'RobotoMono', monospace !important;
}

/* TAGS: */
body {
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    background-color: #353b48;
}

nav a {
    text-decoration: none !important;
    color: white !important;
}

/* CLASSES: */

.no-margin-top {
    margin-top: 0 !important;
}

/* IDS: */

#header {
    width: 90%;
    height: 6vh;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5% 5%;
    background-color: black;
    color: white;

    overflow: hidden;
}

#nav {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45%;
}

/* MENU DE OPÇÕES: */
#options-menu {
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#options-menu a {
    display: flex;
    flex-direction: column;
}

#options-btn {
    border: none;
    outline: none;

    color: white;

    padding: 0px;
    margin: 0;

    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

#options-content {
    display: none;
    position: absolute;
    z-index: 1;

    background-color: #0008;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    min-height: 100px;
    min-width: 150px;
    padding: 10px 8px;
    right: 5vw;
    top: 3.5vw;
}

#options-content a {
    padding: 40px 17px;
}

#options-content a:hover {
    background-color: #fff5;
}

#options-menu:hover #options-content {
    display: block;
}

#arrow-img {
    margin-top: 2vh;
}
/***************************************************/

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#advertisement {
    background-color: #1e3799;
    color: white;

    height: 60vh;
    width: 96%;
    margin: 0 2%;
}

#advertisement p {
    font-size: 0.8em;
}

#advertisement h2 {
    font-size: 2em;
}

#no-margin-bottom {
    margin-bottom: 0 !important;
}

#panel {
    height: 60vh;
    width: 96%;
    margin: 0 2%;

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr;
    grid-template-areas: 
    'navigation-menu navigation-content navigation-content navigation-content' 
    'navigation-menu navigation-content navigation-content navigation-content';
}

#navigation-menu {
    background-color: #0007;
    color: gray;
    
    padding-top: 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: navigation-menu;
}

#img-user {
    border-radius: 50%;
}

#navigation-menu ul {
    list-style: none;
    width: 100%;
}

#navigation-menu li {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 35px;
    font-size: 0.9em;

    display: flex;
    align-items: center;
}

#navigation-menu #list-active {
    background-color: #000;
    color: white
}

#navigation-menu #list-active span {
    height: 10vh;
    width: 8px;

    position: absolute;
    left: 2.5%;

    background-color: #44bd32;
}

#navigation-menu li:hover{
    cursor: pointer;
}

#navigation-menu li img {
    margin: 0 10%;
    color: white;
}

#navigation-content {
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 0 5vw;

    grid-area: navigation-content;
}

#navigation-content h2 {
    font-size: 2em;
    margin: 7vh 0;
}

#navigation-content h3 {
    font-size: 1.3em;
}

#navigation-content input[type="text"] {
    border: none;
    border-bottom: 1px grey solid;

    padding: 10px;
    margin: 3vh 0;

    width: 40vw;
    font-size: 0.8em;
}

@media (min-width: 600px){
    nav {
        margin: 0 10px;
    }
}